@using FIASApi.Model.Entities
<div class="mb-3 card">
    <div class="card-header">Городские и сельские поселения</div>
    @(Html.DevExtreme().DataGrid<VPlace>()
    .ID("gridContainer")
    .ShowBorders(true)
    .FilterPanel(f => f.Visible(true))
    .HeaderFilter(headerFilter => headerFilter.Visible(true))
    .FilterRow(f => f.Visible(true))
    .Columns(columns =>
    {
        columns.AddFor(p => p.Regionname).Caption("Наименование региона");
        columns.AddFor(p => p.Areaname).Caption("Наименование района");
        columns.AddFor(p => p.Cityname).Caption("Наименование города");
        columns.AddFor(p => p.Offname).Caption("Наименование городского или сельского поселения");
        columns.AddFor(p => p.Shortname).Caption("Тип объекта");
    })
    .Paging(paging => paging.PageSize(100))
    .Pager(pager =>
    {
        pager.ShowPageSizeSelector(true);
        pager.AllowedPageSizes(new[] { 10, 25, 50, 100 });
        pager.ShowInfo(true);
    })
    .DataSource(ViewBag.places))
</div>