@model OnlineRecruitingPlatform.DevExtremeAspNetCore.Models.BrowseVacanciesViewModel
<header class="page-header bg-img" style="background-image: url(images/interface/main/bg-banner1.jpg)">
    <div class="container page-name">
        <h1 class="text-center">Просмотр вакансий</h1>
        <p class="lead text-center">Используйте следующее окно поиска, чтобы найти работу, которая вам больше подходит</p>
    </div>
    <div class="container">
        <form method="post" asp-controller="Vacancy" asp-action="Browse">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Должность, навыки или компания" asp-for="SearchStringByJobTitleSkillsOrCompany">
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Город, область или почтовый индекс" asp-for="SearchStringByCityAddressOrZip">
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <select class="form-control selectpicker" multiple>
                        <option selected>All categories</option>
                        <option>Developer</option>
                        <option>Designer</option>
                        <option>Customer service</option>
                        <option>Finance</option>
                        <option>Healthcare</option>
                        <option>Sale</option>
                        <option>Marketing</option>
                        <option>Information technology</option>
                        <option>Others</option>
                    </select>
                </div>
            </div>
            <div class="button-group">
                <div class="action-buttons">
                    <button class="btn btn-primary">Применить фильтр</button>
                </div>
            </div>
        </form>
    </div>
</header>