@using OnlineRecruitingPlatform.Model.Formatters.String
@model OnlineRecruitingPlatform.DevExtremeAspNetCore.Models.BrowseCompaniesViewModel
@await Component.InvokeAsync("BrowseCompaniesHeader", Model)
<main>
    <section class="no-padding-top bg-alt">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <br>
                    <h5>Мы нашли <strong>100</strong> совпадений, вы смотрите с <i>1</i> по <i>50</i></h5>
                </div>
                @await Html.PartialAsync("CompanyHeadHunterItemsBrowsePartial", Model.CompaniesHeadHunter)
                @await Html.PartialAsync("CompanyZarplataRuItemsBrowsePartial", Model.CompaniesZarplataRu)
            </div>
        </div>
    </section>
</main>
