@model List<dynamic>
@foreach (var company in Model)
{
    <div class="col-xs-12">
        <a class="item-block" asp-controller="Company" asp-action="Details" asp-route-type="ZarplataRu" asp-route-id="@company.id">
            <header>
                <div class="company-logo-container-62px">
                    @if (company.logo != null)
                    {
                        <img src="@company.logo.url">
                    }
                    else
                    {
                        <img src="~/fonts/fontawesome6/pro/svgs/solid/file-image.svg">
                    }
                </div>
                <div class="hgroup">
                    <h4>@company.title</h4>
                    <h5>Тип компании неизвестен</h5>
                </div>
                <div class="header-meta">

                </div>
            </header>
            <div class="item-body">
                <p>Краткое описание отсутствует</p>
            </div>
            <footer>
                <ul class="details cols-3">
                    <li>
                        <i class="fa fa-copyright"></i>
                        <span>Взято с ZarplataRu</span>
                    </li>
                </ul>

                @if (company.rubrics != null)
                {
                    <div class="tag-list">
                        @foreach (var rubric in company.rubrics)
                        {
                            <span>@rubric.title</span>
                        }
                    </div>
                }
            </footer>
        </a>
    </div>
}