.divider {
    display: table;
    margin: 1rem 0;
    white-space: nowrap;
    text-align: center;
    background: transparent;

    span {
        display: inline-block;
        padding: 0 1rem;
    }

    &::before {
        position: relative;
        display: table-cell;
        border-top: 1px solid rgba(43, 44, 48, 0.05);
        transform: translateY(50%);
        content: "";
        top: 50%;
        width: 5%;
    }

    &::after {
        position: relative;
        display: table-cell;
        border-top: 1px solid rgba(43, 44, 48, 0.05);
        transform: translateY(50%);
        content: "";
        top: 50%;
        width: 95%;
    }
}
