@media (max-width: 991.98px) {
    .app-header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 14;
    }
}

.app-header {
    .nav-toggle {
        padding: 0 1rem;
    }

    .navbar {
        position: relative;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -ms-flex-align: center;
        align-items: center;
        min-height: 4.286rem;
        z-index: 13;
        padding: 0;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    }

    .navbar-nav {
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        height: 4.286rem;
    }

    .nav-item {
        padding: 0 1rem;
        margin: 0;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        height: 100%;
        color: inherit;
    }

    .navbar-brand {
        padding: 0 1rem;
        margin: 0;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        height: 100%;
        color: inherit;

        span {
            letter-spacing: -1px;
        }
    }

    .nav-link {
        display: initial;
        color: inherit;
    }

    .dropdown-menu {
        position: absolute;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.13);
        border: 0;
    }

    .dropdown-item {
        &:hover {
            cursor: pointer;
        }
    }

    .badge-top {
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-5px, 15px);
    }

    .search {
        .input-group-text {
            border: 0;
            background: transparent;
            padding-left: 0;
            padding-right: 0;
        }

        .form-control {
            border: 0;
            background: transparent;
            outline: 0;

            &:focus {
                box-shadow: none;
            }
        }
    }
}

.header-popover {
    .popover {
        margin-top: 2px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.13);
        border: 0;
        overflow: hidden;
    }
}
