.quill {
    border-radius: 0.25rem;
}

quill-editor {
    display: block;
    border-color: rgba(43, 44, 48, 0.05);
}

.ql-toolbar {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}

.ql-container {
    min-height: 100px;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.ql-container.ql-snow {
    border-color: rgba(43, 44, 48, 0.05);
}

.ql-toolbar.ql-snow {
    border-color: rgba(43, 44, 48, 0.05);
}

.ql-snow.ql-toolbar {
    button {
        color: inherit;
    }
}

.ql-snow {
    .ql-toolbar {
        button {
            color: inherit;
        }
    }
}
