.app-taskboard {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.app-taskboard-wrapper {
    width: 320px;
    padding-top: 0.5rem;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    vertical-align: top;

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

.app-taskboard-list {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    max-height: 100%;
    white-space: normal;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.app-taskboard-header {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-size: 13px;
    padding: 0.5rem 0.5rem 0;
}

.app-taskboard-task {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        cursor: grab;
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        right: 6px;
        width: 14px;
        height: 10px;
        border-radius: 0 0 0.5rem 0.5rem;
    }
}

.app-taskboard-task.success {
    &:after {
        background-color: #5cad66;
    }
}

.app-taskboard-task.info {
    &:after {
        background-color: #52c4de;
    }
}

.app-taskboard-task.warning {
    &:after {
        background-color: #e6990d;
    }
}

.app-taskboard-task.danger {
    &:after {
        background-color: #c34b4b;
    }
}

.app-taskboard-cards {
    padding: 0.5rem;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}
