<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("TitlePartial")
    @await Html.PartialAsync("IconPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("ScriptsPartial")
</head>
<body class="nav-on-header">
    @await Html.PartialAsync("NavBarPartial")
    @await Html.PartialAsync("HeaderPartial")
    <main>
        @RenderBody()
    </main>
    @await Html.PartialAsync("FooterPartial")
    <a id="scroll-up" href="#">
        <i class="ti-angle-up"></i>
    </a>
</body>
</html>