<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("TitlePartial")
    @await Html.PartialAsync("IconPartial")
    @await Html.PartialAsync("CssPartial")
</head>
<body style="padding-top: 5rem;">
    @await Html.PartialAsync("NavBarPartial");
    <main role="main" class="container">
        @RenderBody()
    </main>
    @await Html.PartialAsync("ScriptsPartial")
</body>
</html>