<!DOCTYPE html>
<html lang="en">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("TitlePartial")
    @await Html.PartialAsync("IconPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("ScriptsPartial")
</head>
<body class="nav-on-header">
    @await Html.PartialAsync("NavBarPartial")
    @RenderBody()
    @await Html.PartialAsync("FooterPartial")
    <a id="scroll-up" href="#">
        <i class="ti-angle-up"></i>
    </a>
    @if (IsSectionDefined("ScriptPage"))
    {
        @await RenderSectionAsync("ScriptPage")
    }
</body>
</html>