@model OnlineRecruitingPlatform.DevExtremeAspNetCore.Models.BrowseVacanciesViewModel
<header class="page-header bg-img" style="background-image: url(images/interface/main/bg-banner1.jpg)">
    <div class="container page-name">
        <h1 class="text-center">Просмотр вакансий</h1>
        <p class="lead text-center">Используйте следующее окно поиска, чтобы найти работу, которая вам больше подходит</p>
    </div>
    <div class="container">
        <form method="post" asp-controller="Vacancy" asp-action="Browse">
            <div class="row">
                <div class="form-group col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Должность, навыки или компания" asp-for="SearchStringByJobTitleSkillsOrCompany">
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <input type="text" class="form-control" placeholder="Город, область или почтовый индекс" asp-for="SearchStringByCityAddressOrZip">
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <select class="form-control selectpicker" multiple>
                        <option selected>All categories</option>
                        <option>Developer</option>
                        <option>Designer</option>
                        <option>Customer service</option>
                        <option>Finance</option>
                        <option>Healthcare</option>
                        <option>Sale</option>
                        <option>Marketing</option>
                        <option>Information technology</option>
                        <option>Others</option>
                    </select>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Contract</h6>
                    <div class="checkall-group">
                        <div class="checkbox">
                            <input type="checkbox" id="contract1" name="contract" checked>
                            <label for="contract1">All types</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="contract2" name="contract">
                            <label for="contract2">Full-time <small>(354)</small></label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="contract3" name="contract">
                            <label for="contract3">Part-time <small>(284)</small></label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="contract4" name="contract">
                            <label for="contract4">Internship <small>(169)</small></label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="contract5" name="contract">
                            <label for="contract5">Freelance <small>(480)</small></label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Hourly rate</h6>
                    <div class="checkall-group">
                        <div class="checkbox">
                            <input type="checkbox" id="rate1" name="rate" checked>
                            <label for="rate1">All rates</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="rate2" name="rate">
                            <label for="rate2">$0 - $50 <small>(364)</small></label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="rate3" name="rate">
                            <label for="rate3">$50 - $100 <small>(684)</small></label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="rate4" name="rate">
                            <label for="rate4">$100 - $200 <small>(195)</small></label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="rate5" name="rate">
                            <label for="rate5">$200+ <small>(39)</small></label>
                        </div>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-sm-4">
                    <h6>Academic degree</h6>
                    <div class="checkall-group">
                        <div class="checkbox">
                            <input type="checkbox" id="degree1" name="degree" checked>
                            <label for="degree1">All degrees</label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="degree2" name="degree">
                            <label for="degree2">Associate degree <small>(216)</small></label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="degree3" name="degree">
                            <label for="degree3">Bachelor's degree <small>(569)</small></label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="degree4" name="degree">
                            <label for="degree4">Master's degree <small>(439)</small></label>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" id="degree5" name="degree">
                            <label for="degree5">Doctoral degree <small>(84)</small></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button-group">
                <div class="action-buttons">
                    <button class="btn btn-primary">Применить фильтр</button>
                </div>
            </div>
        </form>
    </div>
</header>