<nav class="navbar">
    <div class="container">
        <div class="pull-left">
            <a class="navbar-toggle" href="#" data-toggle="offcanvas">
                <i class="ti-menu"></i>
            </a>
            <div class="logo-wrapper">
                <a class="logo" asp-controller="Home" asp-action="Index"><img src="~/images/logo/logo.ico" alt="logo"></a>
                <a class="logo-alt" asp-controller="Home" asp-action="Index"><img src="~/images/logo/logo.ico" alt="logo-alt"></a>
            </div>
        </div>
        <ul class="nav-menu">
            <li>
                <a class="active" asp-controller="Home" asp-action="Index">Главная</a>
            </li>
            <li>
                <a asp-controller="Vacancy" asp-action="Browse">Вакансии</a>
            </li>
            <li>
                <a href="#">Резюме</a>
            </li>
            <li>
                <a asp-controller="Company" asp-action="Browse">Компании</a>
            </li>
        </ul>
    </div>
</nav>