@model OnlineRecruitingPlatform.DevExtremeAspNetCore.Models.HomeViewModel
@await Html.PartialAsync("HeaderPartial", Model)
<main>
    <section>
        <div class="container">
            <header class="section-header">
                <span>Недавно</span>
                <h2>Недавние вакансии</h2>
            </header>
            <div class="row item-blocks-connected">
                @await Html.PartialAsync("VacancyHeadHunterItemsPartial", Model.RecentVacanciesHeadHunter)
                @await Html.PartialAsync("VacancyZarplataRuItemsPartial", Model.RecentVacanciesZarplataRu)
            </div>
            <br><br>
            <p class="text-center"><a class="btn btn-info" asp-controller="Vacancy" asp-action="Browse">Просмотреть все вакансии</a></p>
        </div>
    </section>
    <section class="bg-img bg-repeat no-overlay section-sm" style="background-image: url(images/interface/main/bg-pattern.png)">
        <div class="container">

            <div class="row">
                <div class="counter col-md-4 col-sm-6">
                    <p><span data-from="0" data-to="@Model.CountVacancies"></span>+</p>
                    <h6>Вакансии</h6>
                </div>

                <div class="counter col-md-4 col-sm-6">
                    <p><span data-from="0" data-to="@Model.CountResume"></span>+</p>
                    <h6>Резюме</h6>
                </div>

                <div class="counter col-md-4 col-sm-6">
                    <p><span data-from="0" data-to="@Model.CountCompanies"></span>+</p>
                    <h6>Компаний</h6>
                </div>
            </div>

        </div>
    </section>
    <section class="bg-img text-center" style="background-image: url(images/interface/main/bg-facts.jpg)">
        <div class="container">
            <h2><strong>Подписаться</strong></h2>
            <h6 class="font-alt">Получайте самые популярные новые вакансии за неделю на ваш почтовый ящик</h6>
            <br><br>
            <form class="form-subscribe" action="#">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" placeholder="Ваша электронная почта">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-lg" type="submit">Подписаться</button>
                    </span>
                </div>
            </form>
        </div>
    </section>
</main>
