<!DOCTYPE html>
<html lang="en-gb">
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("TitlePartial")
    @await Html.PartialAsync("IconPartial")
    @await Html.PartialAsync("CssPartial")
    @await Html.PartialAsync("ScriptsPartial")
</head>
<body>
    <svg width="24" height="24" viewBox="0 0 24 24" style="display:none">
        <g id="logo-icon"
           stroke="currentColor"
           stroke-width="1"
           stroke-linecap="round"
           stroke-linejoin="round"
           fill="none"
           fill-rule="evenodd">
            <path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path>
        </g>
    </svg>

    <div class="page page-sticky-sidebar">
        <div class="app-header" style="display: none; visibility: hidden;">
            <nav class="bg-white navbar">
                <ul class="navbar-nav">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="navbar-brand">
                        <img src="~/images/logo/logo.ico" alt="" width="24" height="24" title="Icon" />
                        <span class="ml-2">OnlineRecruitingPlatform</span>
                    </a>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/calendar" class="nav-link">Calendar</a>
                    </li>
                    <li class="nav-item">
                        <a href="/messages" class="nav-link">Messages</a>
                    </li>
                </ul>
                <div class="search input-group d-none d-sm-flex">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <span class="animated-icon">
                                <img src="~/css/bootstrap-icons/icons/search.svg" alt="" width="20" height="20" title="Search">
                            </span>
                        </span>
                    </div>
                    <input type="text"
                           placeholder="Search dashboard"
                           class="form-control" />
                </div>
                <ul class="ml-auto menu-right navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link toggle-fullscreen" href="javascript:;">
                            <span class="animated-icon">
                                <img src="~/css/bootstrap-icons/icons/fullscreen.svg" alt="" width="18" height="18" title="Fullscreen">
                            </span>
                        </a>
                    </li>
                    <li class="dropdown nav-item">
                        <a data-toggle="dropdown"
                           aria-haspopup="true"
                           href="#"
                           class="nav-link"
                           aria-expanded="false">
                            <span class="animated-icon">
                                <img src="~/css/bootstrap-icons/icons/toggle-on.svg" alt="" width="18" height="18" title="Toggle-on">
                            </span>
                        </a>
                        <div tabindex="-1"
                             role="menu"
                             aria-hidden="true"
                             class="app-settings dropdown-menu dropdown-menu-right">
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="dropdown-item">
                                Settings
                            </button>
                            <div tabindex="-1" class="m-0 dropdown-divider"></div>
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="d-flex align-items-center justify-content-between dropdown-item">
                                <label for="darkModeOption" class="m-0">Dark mode</label>
                                <div class="custom-switch custom-control">
                                    <input type="checkbox"
                                           id="darkModeOption"
                                           name="darkModeOption"
                                           class="custom-control-input" />
                                    <label class="custom-control-label"
                                           for="darkModeOption"></label>
                                </div>
                            </button>
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="d-flex align-items-center justify-content-between dropdown-item">
                                <label for="boxedOption" class="m-0">Boxed layout</label>
                                <div class="custom-switch custom-control">
                                    <input type="checkbox"
                                           id="boxedOption"
                                           name="boxedOption"
                                           class="custom-control-input" />
                                    <label class="custom-control-label"
                                           for="boxedOption"></label>
                                </div>
                            </button>
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="d-flex align-items-center justify-content-between dropdown-item">
                                <label for="stickyHeaderOption" class="m-0">Sticky header</label>
                                <div class="custom-switch custom-control">
                                    <input type="checkbox"
                                           id="stickyHeaderOption"
                                           name="stickyHeaderOption"
                                           class="custom-control-input" />
                                    <label class="custom-control-label"
                                           for="stickyHeaderOption"></label>
                                </div>
                            </button>
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="d-flex align-items-center justify-content-between dropdown-item">
                                <label for="stickySidebarOption" class="m-0">Sticky sidebar</label>
                                <div class="custom-switch custom-control">
                                    <input type="checkbox"
                                           id="stickySidebarOption"
                                           name="stickySidebarOption"
                                           class="custom-control-input"
                                           checked="" />
                                    <label class="custom-control-label"
                                           for="stickySidebarOption"></label>
                                </div>
                            </button>
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="d-flex align-items-center justify-content-between dropdown-item">
                                <label for="collapsedSidebarOption" class="m-0">Collapsed sidebar</label>
                                <div class="custom-switch custom-control">
                                    <input type="checkbox"
                                           id="collapsedSidebarOption"
                                           name="collapsedSidebarOption"
                                           class="custom-control-input" />
                                    <label class="custom-control-label"
                                           for="collapsedSidebarOption"></label>
                                </div>
                            </button>
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="d-flex align-items-center justify-content-between dropdown-item">
                                <label for="topHeaderOption" class="m-0">Top header</label>
                                <div class="custom-switch custom-control">
                                    <input type="checkbox"
                                           id="topHeaderOption"
                                           name="topHeaderOption"
                                           class="custom-control-input" />
                                    <label class="custom-control-label"
                                           for="topHeaderOption"></label>
                                </div>
                            </button>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a data-toggle="dropdown"
                           aria-haspopup="true"
                           href="#"
                           class="nav-link"
                           aria-expanded="false">
                            <span class="animated-icon">
                                <img src="~/css/bootstrap-icons/icons/globe.svg" alt="" width="18" height="18" title="Globe">
                            </span>
                            <span class="badge-top badge badge-danger badge-pill">6</span>
                        </a>
                        <div tabindex="-1"
                             role="menu"
                             aria-hidden="true"
                             class="app-notifications dropdown-menu dropdown-menu-right">
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="dropdown-item">
                                Notifications
                            </button>
                            <div tabindex="-1" class="m-0 dropdown-divider"></div>
                            <div class="app-notifications-inner">
                                <ul class="list-group">
                                    <a href="#"
                                       class="w-100 d-flex flex-row align-items-center list-group-item-action list-group-item">
                                        <span class="mr-3">
                                            <span class="position-relative d-flex rounded-circle"
                                                  style="width: 40px; height: 40px;">
                                                <img src="~/images/interface/adminpanel/face2.jpg"
                                                     alt="Amber McCoy"
                                                     width="40"
                                                     height="40"
                                                     class="rounded-circle" />
                                            </span>
                                        </span>
                                        <span>Amber McCoy has joined your mailing list</span>
                                    </a>
                                    <a href="#"
                                       class="w-100 d-flex flex-row align-items-center list-group-item-action list-group-item">
                                        <span class="mr-3">
                                            <span class="position-relative d-flex rounded-circle"
                                                  style="width: 40px; height: 40px;">
                                                <img src="~/images/interface/adminpanel/face2.jpg"
                                                     alt="Danielle Perkins"
                                                     width="40"
                                                     height="40"
                                                     class="rounded-circle" />
                                            </span>
                                        </span>
                                        <span>Danielle Perkins created a new task list</span>
                                    </a>
                                    <a href="#"
                                       class="w-100 d-flex flex-row align-items-center list-group-item-action list-group-item">
                                        <span class="mr-3">
                                            <span class="position-relative d-flex rounded-circle"
                                                  style="width: 40px; height: 40px;">
                                                <img src="~/images/interface/adminpanel/face4.jpg"
                                                     alt="Megan Hanson"
                                                     width="40"
                                                     height="40"
                                                     class="rounded-circle" />
                                            </span>
                                        </span>
                                        <span>Megan Hanson created a new task list</span>
                                    </a>
                                </ul>
                            </div>
                            <div class="d-flex align-items-center justify-content-between py-2 px-3">
                                <span>
                                    <span class="badge badge-danger badge-pill">4</span>
                                    <small class="mr-auto ml-1">Notifications</small>
                                </span>
                                <button type="button"
                                        class="button-shadow btn btn-outline-secondary btn-sm">
                                    load more
                                </button>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a data-toggle="dropdown"
                           aria-haspopup="true"
                           href="#"
                           class="nav-link"
                           aria-expanded="false">
                            <span class="position-relative d-flex rounded-circle"
                                  style="width:32px;height:32px">
                                <img src="~/images/interface/adminpanel/avatar.jpg"
                                     alt="avatar"
                                     width="32"
                                     height="32"
                                     class="rounded-circle" />
                            </span>
                        </a>
                        <div tabindex="-1"
                             role="menu"
                             aria-hidden="true"
                             class="dropdown-menu dropdown-menu-right">
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="dropdown-item">
                                Settings
                            </button>
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="dropdown-item">
                                Profile
                            </button>
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="dropdown-item">
                                Notifications
                            </button>
                            <div tabindex="-1" class="dropdown-divider"></div>
                            <button type="button"
                                    tabindex="0"
                                    role="menuitem"
                                    class="dropdown-item">
                                role="menuitem"
                                <a asp-area="" asp-controller="Account" asp-action="Logout">Signout</a>
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="position-relative d-flex flex-row flex-fill page-wrapper">
            @await Html.PartialAsync("SidebarPartial")
            <div class="page-overlay" style="visibility:hidden;opacity:0"></div>

            <div class="position-relative d-flex flex-column flex-fill page-content" style="min-width:0">
                <div class="app-header">
                    <nav class="bg-white navbar">
                        <ul class="navbar-nav d-lg-none d-sm-flex d-md-flex">
                            <a class="nav-toggle mobile-toggle">
                                <span class="animated-icon">
                                    <img src="~/css/bootstrap-icons/icons/list.svg" alt="" width="24" height="24" title="List" />
                                </span>
                            </a>
                            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="navbar-brand">
                                <img src="~/images/logo/logo.ico" alt="" width="24" height="24" title="Icon" />
                            </a>
                        </ul>
                        <ul class="navbar-nav d-none d-lg-flex d-xl-flex">
                            <li class="nav-item">
                                <a href="/calendar" class="nav-link">Calendar</a>
                            </li>
                            <li class="nav-item">
                                <a href="/messages" class="nav-link">Messages</a>
                            </li>
                        </ul>
                        <div class="search input-group d-none d-sm-flex">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <span class="animated-icon">
                                        <img src="~/css/bootstrap-icons/icons/search.svg" alt="" width="20" height="20" title="Search">
                                    </span>
                                </span>
                            </div>
                            <input type="text"
                                   placeholder="Search dashboard"
                                   class="form-control" />
                        </div>
                        <ul class="ml-auto menu-right navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link toggle-fullscreen" href="javascript:;">
                                    <span class="animated-icon">
                                        <img src="~/css/bootstrap-icons/icons/fullscreen.svg" alt="" width="18" height="18" title="Fullscreen">
                                    </span>
                                </a>
                            </li>
                            <li class="dropdown nav-item">
                                <a data-toggle="dropdown"
                                   aria-haspopup="true"
                                   href="#"
                                   class="nav-link"
                                   aria-expanded="false">
                                    <span class="animated-icon">
                                        <img src="~/css/bootstrap-icons/icons/toggle-on.svg" alt="" width="18" height="18" title="Toggle-on">
                                    </span>
                                </a>
                                <div tabindex="-1"
                                     role="menu"
                                     aria-hidden="true"
                                     class="app-settings dropdown-menu dropdown-menu-right">
                                    <span class="dropdown-item-text">Settings</span>
                                    <div tabindex="-1" class="m-0 dropdown-divider"></div>
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="d-flex align-items-center justify-content-between dropdown-item">
                                        <label for="darkModeOption" class="m-0">Dark mode</label>
                                        <div class="custom-switch custom-control">
                                            <input type="checkbox"
                                                   id="darkModeOption"
                                                   name="darkModeOption"
                                                   class="custom-control-input" />
                                            <label class="custom-control-label"
                                                   for="darkModeOption"></label>
                                        </div>
                                    </button>
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="d-flex align-items-center justify-content-between dropdown-item">
                                        <label for="boxedOption" class="m-0">Boxed layout</label>
                                        <div class="custom-switch custom-control">
                                            <input type="checkbox"
                                                   id="boxedOption"
                                                   name="boxedOption"
                                                   class="custom-control-input" />
                                            <label class="custom-control-label"
                                                   for="boxedOption"></label>
                                        </div>
                                    </button>
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="d-flex align-items-center justify-content-between dropdown-item">
                                        <label for="stickyHeaderOption" class="m-0">Sticky header</label>
                                        <div class="custom-switch custom-control">
                                            <input type="checkbox"
                                                   id="stickyHeaderOption"
                                                   name="stickyHeaderOption"
                                                   class="custom-control-input" />
                                            <label class="custom-control-label"
                                                   for="stickyHeaderOption"></label>
                                        </div>
                                    </button>
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="d-flex align-items-center justify-content-between dropdown-item">
                                        <label for="stickySidebarOption" class="m-0">Sticky sidebar</label>
                                        <div class="custom-switch custom-control">
                                            <input type="checkbox"
                                                   id="stickySidebarOption"
                                                   name="stickySidebarOption"
                                                   class="custom-control-input" />
                                            <label class="custom-control-label"
                                                   for="stickySidebarOption"></label>
                                        </div>
                                    </button>
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="d-flex align-items-center justify-content-between dropdown-item">
                                        <label for="collapsedSidebarOption" class="m-0">Collapsed sidebar</label>
                                        <div class="custom-switch custom-control">
                                            <input type="checkbox"
                                                   id="collapsedSidebarOption"
                                                   name="collapsedSidebarOption"
                                                   class="custom-control-input" />
                                            <label class="custom-control-label"
                                                   for="collapsedSidebarOption"></label>
                                        </div>
                                    </button>
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="d-flex align-items-center justify-content-between dropdown-item">
                                        <label for="topHeaderOption" class="m-0">Top header</label>
                                        <div class="custom-switch custom-control">
                                            <input type="checkbox"
                                                   id="topHeaderOption"
                                                   name="topHeaderOption"
                                                   class="custom-control-input" />
                                            <label class="custom-control-label"
                                                   for="topHeaderOption"></label>
                                        </div>
                                    </button>
                                </div>
                            </li>
                            <li class="dropdown nav-item">
                                <a data-toggle="dropdown"
                                   aria-haspopup="true"
                                   href="#"
                                   class="nav-link"
                                   aria-expanded="false">
                                    <span class="animated-icon">
                                        <img src="~/css/bootstrap-icons/icons/globe.svg" alt="" width="18" height="18" title="Globe">
                                    </span>
                                    <span class="badge-top badge badge-danger badge-pill">6</span>
                                </a>
                                <div tabindex="-1"
                                     role="menu"
                                     aria-hidden="true"
                                     class="app-notifications dropdown-menu dropdown-menu-right">
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="dropdown-item">
                                        Notifications
                                    </button>
                                    <div tabindex="-1" class="m-0 dropdown-divider"></div>
                                    <div class="app-notifications-inner">
                                        <ul class="list-group">
                                            <a href="#"
                                               class="w-100 d-flex flex-row align-items-center list-group-item-action list-group-item">
                                                <span class="mr-3">
                                                    <span class="position-relative d-flex rounded-circle"
                                                          style="width: 40px; height: 40px;">
                                                        <img src="~/images/interface/adminpanel/face2.jpg"
                                                             alt="Amber McCoy"
                                                             width="40"
                                                             height="40"
                                                             class="rounded-circle" />
                                                    </span>
                                                </span>
                                                <span>Amber McCoy has joined your mailing list</span>
                                            </a>
                                            <a href="#"
                                               class="w-100 d-flex flex-row align-items-center list-group-item-action list-group-item">
                                                <span class="mr-3">
                                                    <span class="position-relative d-flex rounded-circle"
                                                          style="width: 40px; height: 40px;">
                                                        <img src="~/images/interface/adminpanel/face2.jpg"
                                                             alt="Danielle Perkins"
                                                             width="40"
                                                             height="40"
                                                             class="rounded-circle" />
                                                    </span>
                                                </span>
                                                <span>Danielle Perkins created a new task list</span>
                                            </a>
                                            <a href="#"
                                               class="w-100 d-flex flex-row align-items-center list-group-item-action list-group-item">
                                                <span class="mr-3">
                                                    <span class="position-relative d-flex rounded-circle"
                                                          style="width: 40px; height: 40px;">
                                                        <img src="~/images/interface/adminpanel/face4.jpg"
                                                             alt="Megan Hanson"
                                                             width="40"
                                                             height="40"
                                                             class="rounded-circle" />
                                                    </span>
                                                </span>
                                                <span>Megan Hanson created a new task list</span>
                                            </a>
                                        </ul>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-between py-2 px-3">
                                        <span>
                                            <span class="badge badge-danger badge-pill">4</span>
                                            <small class="mr-auto ml-1">Notifications</small>
                                        </span>
                                        <button type="button"
                                                class="button-shadow btn btn-outline-secondary btn-sm">
                                            load more
                                        </button>
                                    </div>
                                </div>
                            </li>
                            <li class="dropdown nav-item">
                                <a data-toggle="dropdown"
                                   aria-haspopup="true"
                                   href="#"
                                   class="nav-link"
                                   aria-expanded="false">
                                    <span class="position-relative d-flex rounded-circle"
                                          style="width:32px;height:32px">
                                        <img src="~/images/interface/adminpanel/avatar.jpg"
                                             alt="avatar"
                                             width="32"
                                             height="32"
                                             class="rounded-circle" />
                                    </span>
                                </a>
                                <div tabindex="-1"
                                     role="menu"
                                     aria-hidden="true"
                                     class="dropdown-menu dropdown-menu-right">
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="dropdown-item">
                                        Settings
                                    </button>
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="dropdown-item">
                                        Profile
                                    </button>
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="dropdown-item">
                                        Notifications
                                    </button>
                                    <div tabindex="-1" class="dropdown-divider"></div>
                                    <button type="button"
                                            tabindex="0"
                                            role="menuitem"
                                            class="dropdown-item">
                                        <a asp-area="" asp-controller="Account" asp-action="Logout">Signout</a>
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="page-inner bg-light ">
                    @RenderBody()
                </div>
                @await Html.PartialAsync("FooterPartial")
            </div>
        </div>
    </div>
    <script src="~/js/adminpanel/app.js" asp-append-version="true"></script>
    <script src="~/js/adminpanel/dashboard.js" asp-append-version="true"></script>
</body>
</html>
