@model ErrorViewModel
<section id="wrapper" class="container-fluid">
    <div class="error-box">
        <div class="error-body text-center">
            <h1 class="text-danger">@Model.HttpStatusCode</h1>
            <h3>@Model.ErrorMessage</h3>
        </div>
    </div>
</section>