<div class="app-footer bg-light">
    <nav class="navbar navbar-expand">
        <div class="collapse show navbar-collapse" aria-expanded="true">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">© Copyright FusePX Premium Templates 2020</a>
                </li>
            </ul>
        </div>
        <ul class="ml-auto menu-right navbar-nav">
            <li class="nav-item"><a class="nav-link">About</a></li>
            <li class="nav-item"><a class="nav-link">Team</a></li>
            <li class="nav-item"><a class="nav-link">Contact</a></li>
        </ul>
    </nav>
</div>