@model ForgetPasswordViewModel
<div class="login-block">

    <h1>Request password reset</h1>

    <form method="post">

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="ti-email"></i></span>
                <input type="text" class="form-control" placeholder="Email" asp-for="Email">
            </div>
            <div class="valid-feedback">
                <span class="text-left" asp-validation-for="Email"></span>
            </div>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Request reset link</button>
    </form>
</div>

<div class="login-links">
    <p class="text-center"><a asp-controller="Account" asp-action="Login">Back to login</a></p>
</div>