@model LoginViewModel
<div class="login-block">

    <h1>Log into your account</h1>

    <form method="post" asp-controller="Account" asp-action="Login">

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="ti-email"></i></span>
                <input type="text" class="form-control" placeholder="Email" asp-for="Email">
            </div>
            <div class="valid-feedback">
                <span class="text-left" asp-validation-for="Email"></span>
            </div>
        </div>

        <hr class="hr-xs">

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="ti-unlock"></i></span>
                <input type="password" class="form-control" placeholder="Password" asp-for="Password">
            </div>
            <div class="valid-feedback">
                <span class="text-left" asp-validation-for="Password"></span>
            </div>
        </div>

        <button class="btn btn-primary btn-block" type="submit">Login</button>

    </form>
</div>

<div class="login-links">
    <a class="pull-left" asp-controller="Account" asp-action="ForgetPassword">Forget Password?</a>
    <a class="pull-right" asp-controller="Account" asp-action="Register">Register an account</a>
</div>